body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.barrita {
  z-index: 3;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('imagenes2/artificial.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("images/empresas.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/images/team.jpg");
  min-height: 400px;
}

.imagenAboutUs {
  background-image: url("images/team.jpg");
  min-height: 400px;
}

/*** Codigo Isa***/

.bloque1 {
  background-color: #e9a2f2;
  color: white;
  
}

.circular{
  background-image: url("images/facil.jpg");
}


#wrapper {
  width: 100%;
  position: relative;
  min-height: 600px;
  height: auto !important;
  background-color: #ffffff;
  background-position: center top;
  background-repeat: repeat;
  background-image: url("images/css/footer-bg-x.jpg");
  border-top: none;
}

#wrapper,
#wrapper > .bg {
  background-attachment: fixed;
}

#wrapper > .bg {
  display: none;
  background-image: none;
}

.span_1_of_2 {
  width: 48.5%;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}


.instagram {
  background: #e9a2f2;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}